@charset "UTF-8";
/**
$blue = #56a8fe;
$dark = #454852;
$blueHover = #549deb;
$gray = #989da3;
$white = #fff;
$green = #01cf97;
$orange = #ffa05c;
$red = #f4615c;
$light = #f7f9fa;
**/


/*主色*/
body {
    color: dark;
}

.dark {
    color: dark;
}

a {
    color: inherit;
}

.black {
    color: black;
}

/*蓝色*/
.blue, a.dark:hover {
    color: blue;
}

/*hover蓝色*/
a.blue:hover {
    color: blurHover;
}

/*灰色*/
.gray {
    color: gray;
}

/*白色*/
.white {
    color: white;
}

/* 绿色 */
.green {
    color: green;
}

/* 橘色 */
.orange {
    color: orange;
}

/* 红色 */
.red {
    color: red;
}

/* 浅色 */
.light {
    color: light;
}

