@charset "UTF-8";

@import url(../_variable.css);


/*主色*/
body {
    color: var(--dark, #333);
}

.dark {
    color: var(--dark, #333);
}

a {
    color: inherit;
}

.black {
    color: var(--black, #000);
}

/*蓝色*/
.blue, a.dark:hover {
    color: var(--blue, blue);
}

/*hover蓝色*/
a.blue:hover {
    color: var(--blueHover);
}

/*灰色*/
.gray {
    color: var(--gray, gray);
}

/*白色*/
.white {
    color: var(--white, white);
}

/* 绿色 */
.green {
    color: var(--green, green);
}

/* 橘色 */
.orange {
    color: var(--orange, orange);
}

/* 红色 */
.red {
    color: var(--red, red);
}

/* 浅色 */
.light {
    color: var(--light, #f5f5f5);
}

