@charset "UTF-8";

@import '../_variable.css';

/**
 * @description 页面结构公用CSS，以下代码为原型页面示意CSS，实际项目请删除，用不到
 */

.header {
    height: 60px;
}

.logo {
    width: 200px;
    height: 60px;
    font-size: 0;
    background: url(../images/logo.png) no-repeat left;
    background-size: contain;
}

.constr {
    max-width: 960px;
    margin: auto;
}

.nav {
    background-color: var(--blue);
    overflow: hidden;
}
.nav-a {
    float: left;
    width: 120px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--white);
}
.nav-a:hover,
.nav-a.active {
    background-color: rgba(0, 0, 0, .1);
}

.content {
    min-height: 600px;
    min-height: calc(100vh - 60px - 44px - 64px - 20px);
    padding-top: 20px;
    overflow: hidden;
}

.footer {
    background-color: var(--blue);
}
.footer-p {
    color: var(--white);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}