@charset "UTF-8";

@import '../_variable.css';

.header {
    height: 60px;
}

.logo {
    padding-top: 15px;
    font-size: 20px;
}

.constr {
    max-width: 960px;
    margin: auto;
}

.nav {
    background-color: var(--blue);
    overflow: hidden;
}
.nav-a {
    float: left;
    width: 120px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--white);
}
.nav-a:hover,
.nav-a.active {
    background-color: rgba(0, 0, 0, .1);
}

.footer {
    background-color: var(--blue);
}
.footer-p {
    color: var(--white);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content {
    min-height: 600px;
    padding-top: 20px;
}