@charset "UTF-8";
/**
 *
 * @lib.css
 * @author xinxuzhang
 * @create 15-06-04
 */
/* ---------------------single CSS----------------------- */
/* display */
.dn {
    display: none;
}

.di {
    display: inline;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

/* font-style */
.n {
    font-weight: normal;
    font-style: normal;
}

.b {
    font-weight: bold;
}

.i {
    font-style: italic;
}

/* text-align */
.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.tl {
    text-align: left;
}

.tj {
    text-align: justify;
}

/* text-decoration */
.tdl {
    text-decoration: underline;
}

.tdn, .tdn:hover, .tdn a:hover, a.tdl:hover {
    text-decoration: none;
}

/* white-space */
.nowrap {
    white-space: nowrap;
}

/* word-wrap */
.bk {
    word-wrap: break-word;
}
.ba {
    word-break: break-all;
}

/* vertical-align */
.vm {
    vertical-align: middle;
}

.vb {
    vertical-align: bottom;
}

.vt {
    vertical-align: top;
}

.vn {
    vertical-align: -5px;
}

/*float*/
.l {
    float: left;
}

.r {
    float: right;
}

/* clear */
.cl {
    clear: both;
}

/* position */
.rel {
    position: relative;
}

.abs {
    position: absolute;
}

/* overflow */
.ovh {
    overflow: hidden;
}

.ova {
    overflow: auto;
}

/* visibility */
.vh {
    visibility: hidden;
}

.vv {
    visibility: visible;
}

.up {
    text-transform: uppercase;
}


/* ---------------------multiple CSS----------------------- */
/* 清除浮动*/
.fix:after {
    display: table;
    content: '';
    clear: both;
}

/* 基于display:table-cell的自适应布局 */
.cell {
    display: table-cell;
    width: 2000px;
}

/* 单行文字溢出虚点显示 */
.ell {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* 可响应focus/click的隐藏 */
.clip {
    position: absolute;
    clip: rect(0 0 0 0);
}

/* 块状元素水平居中 */
.auto {
    margin-left: auto;
    margin-right: auto;
}

/* 大小不定元素垂直居中 */
.middle {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

/* transition过渡 */
.trans {
    -webkit-transition: all 250ms;
    transition: all 250ms;
}

/* 文字无法选中 */
.unselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* disabled */
.disabled {
    opacity: .4;
    filter: alpha(opacity=40);
    cursor: default;
    -ms-pointer-events: none;
    pointer-events: none;
}
