@charset "UTF-8";
/**
 *
 * @home.css
 * @author zhangxinxu
 * @create 17-12-14
 * @description 主页相关样式
**/

.home-p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.home-p > button {
    width: 120px;
    height: 30px;
    border-radius: 2px;
}