@charset "UTF-8";
/**
 *
 * @page2.css
 * @author zhangxinxu
 * @create 17-12-14
 * @description 子页2相关样式
**/

/* 下面为测试代码 */
.class-a {
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    left: 100px;
    top: 100px;
    float: left;
}