<!doctype html>
<html>
<head>
<title>项目主页</title>
<link rel="import" href="./include/meta.html">
</head>
<body>
<link rel="import" href="./include/header.html?nav1=active">

<div class="content">
    <h2>${title}</h2>
    <p class="home-p"><button id="btnPost">post测试</button></p>
    <a href="">选项卡1</a>
    <a href="" class="${tab==2 ? 'active': ''}">选项卡2</a>
    <template>
        <div>${name}${title}</div>
        <div>${title}</div>
    </template>
</div>

<link rel="import" href="./include/footer.html">

<script src="../../static/js/home.js"></script>
</body>
</html>