@charset "UTF-8";
/**
$blue = #56a8fe;
$dark = #454852;
**/
/*主色*/
body {
    color: dark;
}

.dark {
    color: dark;
}

a {
    color: inherit;
}

.black {
    color: black;
}

/*蓝色*/
.blue, a.dark:hover {
    color: blue;
}

/*hover蓝色*/
a.blue:hover {
    color: #549deb;
}

/*灰色*/
.gray {
    color: #989da3;
}

/*白色*/
.white {
    color: #fff;
}

/* 绿色 */
.green {
    color: #01cf97;
}

/* 橘色 */
.orange {
    color: #ffa05c;
}

/* 红色 */
.red {
    color: #f4615c;
}

/* 浅色 */
.light {
    color: #f7f9fa;
}

